# ignore .csv files in data/merged and data/raw
/data/merged/*.csv
/data/raw/*.csv
/data/raw/*.dmp
/data/raw/*.tsv
/data/processed/*.csv
/data/features/*.csv
/data/filtered/*.csv

# delete all files called structure.txt in any subdirectory
**/structure.txt

# ignore all DS_Store files
.DS_Store
*/.DS_Store
**/.DS_Store
***/.DS_Store

