# tensorflow-intel
numpy
pandas
scikit-learn
matplotlib
seaborn
torch
tqdm
pytest
pyarrow # dataset fast loads
fastparquet # dataset fast loads
biopython
plotly
# Uncomment the following lines for Intel XPU support
#--index-url https://download.pytorch.org/whl/xpu
#torch
#torchvision
#torchaudio