# tensorflow-intel
numpy
pandas
scikit-learn
matplotlib
seaborn
tqdm
pytest
pyarrow # dataset fast loads
fastparquet # dataset fast loads
biopython
plotly
# Uncomment the following line for Intel XPU support
#--index-url https://download.pytorch.org/whl/xpu
#torch
